{% extends 'base.html' %}

{% block title %}Chamados{% endblock %}
{% block maintitle %}Chamado{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="/chamados/historico_chamados">Histórico</a></li>
    <li class="breadcrumb-item active" aria-current="page">Chamado</li>
{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert mt-5 {% if message.tags %} alert-{{ message.tags }}{% else %} alert-info {% endif %}"
                 role="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}
    <form method="post" action="/chamados/gerar_chamado">
        {% csrf_token %}
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Assunto:</label>
            <input type="text" class="form-control" id="formGroupExampleInput"
                   name="assunto" placeholder="Assunto do chamado" maxlength="200" required>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descrição:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1"
                      name="descricao" rows="3" required></textarea>
        </div>
        <input class="btn btn-primary" type="submit" value="ENVIAR">
    </form>
{% endblock %}
