{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}
{% block maintitle %}Página Inicial{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="#">Página Inicial</a></li>
  <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
{% endblock %}

{% block content %}
<div class="card">
  <div class="card-header">
    Dashboard
  </div>
  <div class="card-body">
    Seja bem-vindo ao sistema DocForense de geração de laudo pericial. Para acessar as funcionalidade navegue no menu lateral esquerdo.
  </div>
</div>
{% endblock %}