{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block content %}
  <style>
      .logo {
        max-width: 100px;
        margin: 0 auto;
        margin-bottom: 20px;
        display: block;
      }
  </style>
  <div class="container d-flex justify-content-center align-items-center" style="height: 70vh">
    <div class="card" style="width: 20rem">
      <div class="card-body">
        <img class="logo" src="http://127.0.0.1:8000/static/policia.svg" />
        <form action="#" method="POST">
          {% csrf_token %} {% if messages %}
            <div class="container mt-3">
              {% for message in messages %}
                <div class="alert alert-danger" role="alert">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
          <div class="input-group mb-3">
            <input type="user" class="form-control" id="username" name="username" placeholder="Digite seu usuário..." required />
            <div class="input-group-text"><span class="bi bi-person"></span></div>
          </div>
          <div class="input-group mb-3">
            <input type="password"  id="password" name="password" placeholder="Digite sua senha..." required class="form-control" />
            <div class="input-group-text"><span class="bi bi-lock-fill"></span></div>
          </div>
          <button type="submit" class="btn btn-primary btn-custom w-100">Entrar</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}